{% load static %}

<transition name='modal-swoop'>
<div id='auth-container' class='ntc-modal'
     v-if="modal=='auth'">

  <div id='auth-inner'>
    
    <!-- User Menu -->
        <div id='user-menu-container' :class="{open: userMenu.open}">
            <div id='user-menu' class='pop light'>

                <!-- Login Menu -->
                <div id='login-menu' v-if="userMenu.mode == 'login'">
                    <h2 class="user-menu-title">
                        Login
                    </h2>
                    <div class='user-menu-input-container'>
                        <label for="username-input" class='user-menu-label'>Username or email</label>
                        <input type="text" class="user-menu-input form-control" id="username-input" v-model="userMenu.login.username">
                    </div>

                    <div class='user-menu-input-container'>
                        <label for="username-input" class='user-menu-label'>Password</label>
                        <input type="password" class="user-menu-input form-control" id="password-input" v-model="userMenu.login.password" v-on:keyup.enter="loginUser">
                        
                    </div>

                    <div class='user-menu-error'>
                        [[userMenu.login.error]]
                    </div>

                    <div class='user-menu-button-container'>

                        <button class="mdc-button mdc-button--outlined" @click="openUserMenu('signup')">
                          <div class="mdc-button__ripple"></div>
                          <span class="mdc-button__label">Signup</span>
                        </button>

                        <button class="mdc-button mdc-button--raised login-btn" @click="loginUser">
                            <div class="mdc-button__ripple"></div>
                          <span class="mdc-button__label">Login</span>
                        </button>

                    </div>

                </div>
                <!-- End Login Menu -->

                <!-- Signup Menu -->
                <div id='signup-menu' v-if="userMenu.mode == 'signup'">
                    <h2 class="user-menu-title">
                        Signup
                    </h2>
                    <div class='user-menu-input-container'>
                        <label for="username-input" class='user-menu-label'>Username</label>
                        <input type="text" class="user-menu-input form-control" id="username-input" v-model="userMenu.signup.username">
                    </div>

                    <div class='user-menu-input-container'>
                        <label for="email-input" class='user-menu-label'>Email</label>
                        <input type="email" class="user-menu-input form-control" id="email-input" v-model="userMenu.signup.email">
                    </div>

                    <div class='user-menu-input-container'>
                        <label for="username-input" class='user-menu-label'>Password</label>
                        <input type="password" class="user-menu-input form-control" id="password-input" v-model="userMenu.signup.password">
                    </div>

                    <div class='user-menu-input-container'>
                        <label for="username-input" class='user-menu-label'>Confirm Password</label>
                        <input type="password" class="user-menu-input form-control" id="passwordConfirm-input" v-model="userMenu.signup.passwordConfirm"
                        v-on:keyup.enter="signup">
                    </div>

                    <div class='user-menu-error'>
                        <ul class='error-list'>
                            <li class='error-item' v-for='err in userMenu.signup.errors'> [[err]]</li>
                        </ul>
                    </div>

                    <div class='user-menu-button-container'>

                        <button class="mdc-button mdc-button--outlined" @click="openUserMenu('login')">
                          <div class="mdc-button__ripple"></div>
                          <span class="mdc-button__label">Login</span>
                        </button>

                        <button class="mdc-button mdc-button--raised login-btn" @click="signup">
                            <div class="mdc-button__ripple"></div>
                          <span class="mdc-button__label">Signup</span>
                        </button>

                    </div>

                </div>
                <!-- End Signup -->

                <!-- Profile Menu -->
                <div id='profile-menu' v-if="userMenu.mode == 'profile'">
                    
                    <div id="profile-container">

                        <div id='user-banner'>
                            <div id='user-img-container'>
                                <input type="file" 
                                       id="img-upload"
                                       accept="image/*">
                                <!-- <img id='user-img' 
                                     :src="user.image"> -->
                                <img id='user-img' 
                                     src="/static/ntc/default.svg">
                                <div id="user-img-cover">
                                    <svg id='upload-icon' height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#2a2e3b" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3)"><path d="m10.326 1.666.016 5.641-5.673.016" transform="matrix(.70710678 -.70710678 -.70710678 -.70710678 5.376348 12.979652)"/><path d="m7.522.521v11.979"/><path d="m.5 9v4.5c0 1.1045695.8954305 2 2 2h10c1.1045695 0 2-.8954305 2-2v-4.5"/></g></svg>
                                </div>
                            </div>
                            <h2 id='username'>[[user.username]]</h2>
                        </div>

                        <div id='stat-container'>

                            <div id='stat-body'>

                                <div class='stat'>
                                    <span class='stat-label'>
                                        User Since:
                                    </span>
                                    <span class='stat-value'>
                                        [[user.created]]
                                    </span>
                                </div>

                                <div class='stat'>
                                    <span class='stat-label'>
                                        Last Active:
                                    </span>
                                    <span class='stat-value'>
                                        [[user.last_active]]
                                    </span>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class='user-menu-button-container'>

                        <button class="mdc-button mdc-button--raised" @click="logout">
                          <div class="mdc-button__ripple"></div>
                          <span class="mdc-button__label">Logout</span>
                        </button>

                    </div>

                </div>
                <!-- End Profile -->


            </div>
        </div>

  </div>
    
</div>
</transition>