<nav class="navbar navbar-expand-md" id="main-nav">
  <a class="navbar-brand" href="/papernet/">Papernet</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="material-icons" id='nav-burger'>menu</i>
  </button>

  <!-- Account -->
  <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button toolbar-btn" id="account-toolbar-btn" aria-label="Account" @click="toggleAuth">
    <span class="material-icons" id="account-toolbar-icon">
      account_circle
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <div id='search-container'>
      <div id="search-input-container">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" @click="search">Search</button>
      </div>
      <div id='search-results-container' v-if="resultShow">
        <ul class='mdc-list mdc-list--two-line'>
          <li class='search-result mdc-list-item'
               v-for='result in results'
               @click="loadPaper(result.pk)">
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">[[result.title]]</span>
              <span class="mdc-list-item__secondary-text">
              [[result.ref]]
                <span class='cites'>([[result.cites]])
              </span>
            </span>
          </li>
          <div class='search-result-divider'>
            Results from crossref.org
          </div>
          <li class='search-result mdc-list-item'
               v-for='result in cr_results'
               @click="loadPaper(result.pk)">
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__primary-text">[[result.title]]</span>
              <span class="mdc-list-item__secondary-text">
              [[result.ref]]
                <span class='cites'>([[result.cites]])</span>
              </span>
            </span>

          </li>
        </ul>
      </div>
    </div>

  </div>

</nav>